:root {
  --color-red: #ff5555;
  --color-yellow: #ffb21e;
  --color-green: #00bb8f;
  --color-blue: #1125d6;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #ecf2ff;
}

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .general-container {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 734px;
    margin-inline: auto;
    border-radius: 40px;
    row-gap: 0;
  }
}
